.Nav{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
  
.Nav img{
    height: 10vh;
}

.cart{
    cursor: pointer;
}

.cart span:nth-child(1){
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2){
    padding: 0 3px;
    background-color: #5C3996;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -50px;
    left: -15px;
}