.Body{
  background-image: linear-gradient( #F2E5CC, #EECB93);
  /* background-image: url('./Images/stucco.png'); */
  color: black;
  font-family: 'Vesper Libre', serif;
  margin: 0;
  padding: 0;

}



.Shop{
  width: 100vw;
  height: 100vh;
}